<p>
  <br><br>
  No. of frames to be Donated :<input type="text" name="frameCount" />
  <br><br>
  Name : <input type="text" name="name" />
  <br><br>
  Email : <input type="text" name="email" />
  <br><br>
  Mobile No. : <input type="text" name="mobile" />
  <br><br>
  Address1 : <input type="text" name="address1" />
  <br><br>
  Address2 : <input type="text" name="address2" />
  <br><br>
  city : <input type="text" name="city" />
  <br><br>
  state : <input type="text" name="state" />
  <br><br>
  zipcode : <input type="text" name="zip" />
  <br><br>
  <input type="submit" value="Submit"/>

</p>
